{% extends "base.html" %}
{% block content %}
<div class="two-column">
    <div class="panel">
        <div class="section">
            <h2>Note</h2>
            <p>This documentation is not written by a native english speaker. There can be some grammar errors. If you find an error please report it to <a href="https://github.com/miratcan/Linkfloyd/issues?sort=created&direction=desc&state=open">here</a>.</p>
        </div>
        <div class="section">
            <h2>Looking for Source Code?</h2>
            <p>Checkout our <a href="https://github.com/miratcan/Linkfloyd/">github page</a>.</p>
        </div>
    </div>
    <div class="content section">
        <h2>Basics</h2>
        <dl>

            <dt>What is Linkfloyd?</dt>
            <dd>
                <p>Simply it's a link sharing and bookmarking service based on interest groups. It's a source for high quality content in your interest from web.</p>
            </dd>

            <dt>Which problem does it solve?</dt>
            <dd>
                <p>We usually follow people on social media because of we have same area of common interests with them. For example i'm following a few people, because they are interested in photography as me. Sometimes they write blog posts, or share article links about photography. So the reason of why i follow them is "photography". Everything seems okay until here. But the problem is, when we follow people, we are starting to follow everything that they share. I am not interested of their familiy life, musical taste, or blog posts about their travels.</p>

                <p>When you register to linkfloyd. You interact with interest channels instead of people. For example subscribing to "photography" channel means that you will see posts about photography. Or posting a link to "photography" channel means that you're posting your content people whom interested. So there is no trash, you're always with clean content.</p>
            </dd>

            <dt>What is channel?</dt>
            <dd>
                <p>It's like tv channel for the web content. Linkfloyd only shows links from channels that you subscribed.</p>
            </dd>

            <dt>Does anybody can submit a link?</dt>
            <dd>
                <p>Yes, all you need is an <a href="/accounts/register/">account</a>!</p>
            </dd>

            <dt>What is "Rating" of a link?</dt>
            <dd>
                <p>When you're posting a link, you can see rating input at the submit form like this:</p>

                <img alt="Rating" class="bordered" src="https://lh4.googleusercontent.com/-meCwZoKjQ_g/T4R5G75o82I/AAAAAAAAC-c/pq3PfiygmNE/s720/Screenshot%2520at%25202012-04-10%252021%253A08%253A46.png">

                <p>Rating system is inspired from <a href="http://en.wikipedia.org/wiki/Television_content_rating_systems">television content rating systems</a>. It's purpose is give viewers an idea of the suitability of a link for their morality.</p>

                <p>You can go to your preferences page set your maximum rating. For example if you set it to "safe", you will not see any links that contains obscenity or küfürlü content.</p>
            </dd>

            <dt>What is number near links?</dt>

	        <dd>
                <p><img alt="score" class="bordered" src="https://lh6.googleusercontent.com/-Wtv3SiTPGS0/T4QPwLmxdTI/AAAAAAAAC-I/aWtbNJ2Fe9k/s710/Screenshot%2520at%25202012-04-10%252013%253A43%253A57.png"></p>

                <p>It's vote score of link, simply the number of upvotes minus the number of downvotes. If five users like the post and three users don't, it will have a score of 2.</p>

                <p>Once registered, you can vote all links on linkfloyd up or down based on whether you liked or disliked them. If more people like a link than dislike it, it will rise up the front page and be seen by more users.</p>

            </dd>
            <dt>Can anybody can vote a link?</dt>
            <dd>
                <p>Yes, all you need is an <a href="/accounts/register/">account</a>!</p>
            </dd>

            <dt>Can i post about anything?</dt>
            <dd>
                <p>Hmm yes but, we have two rules:</p>
                <ul>
                    <li>No hate speech</li>
                    <li>No personal information (do not share facebook profiles etc.)</li>
                </ul>
            </dd>

            <dt>Where can i find channels to subscribe?</dt>
            <dd>
                <p>You can browse and subscribe them from "Channels" menu at the top.</p>

                <img alt="channels" class="bordered" src="https://lh6.googleusercontent.com/-2gBJrkPVF4I/T4QUmYVQDHI/AAAAAAAAC-U/RzTDDDLbkqQ/s710/Screenshot%2520at%25202012-04-10%252014%253A06%253A43.png">

                <p>When you find a channel interesting for you you can simply click subscibe button near it.</p>
            </dd>

            <dt>Can i create a channel?</dt>
            <dd>
                <p>Sure, you can. Only rule that you have to obey is giving title and description to it in english.</p>

                <p>After creating a channel you have find some subscribers to it. Use your imagination about that :) Call your friends for subscribing or talk about that channel in social media.</p>
            </dd>

            <dt>Is Linkfloyd available in languages other than English?</dt>
            <dd>
                <p>Not yet, but it will...</p>
            </dd>

            <dt>I found a bug</dt>
            <dd>
                <p>Simply go to <a href="https://github.com/miratcan/Linkfloyd/">linkfloyd's github account</a> and create an issue about your bug.</p>
            </dd>
        </dl>
        <h2>Background</h2>
            <dl>
                <dt>What is linkfloyd written in?</dt>
                <dd>
                    <p>Python with Django framework.</p>
                </dd>

                <dt>Is it open source?</dt>
                <dd>
                    <p>Nope, but it will when code is stable.</p>
                </dd>
                <dt>Who is behind this?</dt>
                <dd>
                    <p>a Python-Django developer, </p>
                </dd>
            </dl>
</div>
</div>
{% endblock %}
z
