{% extends "base.html" %}
{% block content %}
<div class="two-column">
    <div class="content">
        <div class="section">
            <div class="section" id="wiki-hakkinda">
                <h1>Hakkında</h1>
                <dl>
                    <dt>Linkfloyd nedir?</dt>
                    <dd>Aynı ilgi alanına sahip insanları bir araya getirme niyetinde olan, paylaşım ve yer imleme servisidir.</dd>
                    <dt>Neyi çözer?</dt>
                    <dd>
                        <p class="first">Genellikle sosyal medyada insanları direkt kişiye olan ilgimizden değil, ortak ilgi alanına sahip olduğumuz için takip ederiz. Ancak problem şu ki, birini sırf "fotoğrafçı" olduğu için takibe aldığınızda; o kişinin sizin gereksiz olan gönderilerine de maruz kalırsınız.</p>
                        <p class="last">Linkfloyd üzerinde ise insanlar ile direkt değil "ilgi kanalları" üzerinden etkileşimde bulunursunuz. Örneğin "fotoğrafçılık" kanalını takibe almak, sadece fotoğrafçılık ile ilgili gönderilere maruz kalmanız manasına gelir. Böylelikle her zaman ilgi alanınıza ait, temiz içerik ile karşılaşırsınız.</p>
                    </dd>
                    <dt>Herkes gönderi yapabilir mi?</dt>
                    <dd>Evet, tek ihtiyacınız olan bir hesap edinmek.</dd>
                    <dt>Peki kanal nedir?</dt>
                    <dd>Tv kanalı gibi düşünülebilir, içeriğin hangi ilgi alanına ait olduğunu belirler.</dd>
                    <dt>Gönderilerin derecelendirmesi (rating) nedir?</dt>
                    <dd>Gönderi yaparken form üzerinde aşağıdaki gibi "rating" adında bir alan görürsünüz.</dd>
                    <dt>Gönderilerin yanındaki aşağı yukarı ok işaretleri nedir?</dt>
                    <dd>
                        <p class="first">Yukarı doğru olan gönderiyi sevdiğinizi, aşağı doğru olan ise sevmediğinizi belirtmek için kullanabileceğiniz butonlardır.</p>
                        <p class="last">Bu iki butonun arasında gönderinin oylama skorunu görebilirsiniz. Bu rakam toplam yukarı oylamalardan, aşağı oylamaların çıkarılması sonucunda bulunan rakamdır. Örneğin 3 kişi beğenir, 2 kişi beğenmez ise gönderinin skoru 3-2=1 olacaktır.</p>
                    </dd>
                    <img alt="https://lh6.googleusercontent.com/-Wtv3SiTPGS0/T4QPwLmxdTI/AAAAAAAAC-I/aWtbNJ2Fe9k/s710/Screenshot%2520at%25202012-04-10%252013%253A43%253A57.png" src="https://lh6.googleusercontent.com/-Wtv3SiTPGS0/T4QPwLmxdTI/AAAAAAAAC-I/aWtbNJ2Fe9k/s710/Screenshot%2520at%25202012-04-10%252013%253A43%253A57.png"><dl class="docutils">
                    <dt>Herkes oylama yapabilir mi?</dt>
                    <dd>Hesabı olan herkes yapabilir.</dd>
                    <dt>Her türlü içerik yollanabilir mi?</dt>
                    <dd>Evet ama 3 kural yasak var <strong>nefret söylemi yapmak</strong>, <strong>kişisel bilgi vermek</strong>, <strong>pornografi</strong>
                    </dd>
                    <dt>Takip edeceğim kanalları nereden bulacağım?</dt>
                    <dd>Üst taraftaki kanallar (channels) menüsünden göz at (browse) sayfasına ulaşabilir, oradan takibe alabilirsiniz.</dd>
                <img alt="https://lh6.googleusercontent.com/-2gBJrkPVF4I/T4QUmYVQDHI/AAAAAAAAC-U/RzTDDDLbkqQ/s710/Screenshot%2520at%25202012-04-10%252014%253A06%253A43.png" src="https://lh6.googleusercontent.com/-2gBJrkPVF4I/T4QUmYVQDHI/AAAAAAAAC-U/RzTDDDLbkqQ/s710/Screenshot%2520at%25202012-04-10%252014%253A06%253A43.png"><dl class="docutils">
                    <dt>Kanal oluşturabilir miyim?</dt>
                    <dd>Evet, kanallar menüsünden yapabilirsiniz. Ancak şu an teknik bir sebepten ötürü kanal adının ve açıklamasının ingilizce olarak yapılması zorunlu.</dd>
                    <dt>Seçeneklerimi ayarlayabileceğim bir sayfa yok mu?</dt>
                    <dd>Giriş yaptıktan sonra navigasyon bandındaki adınıza tıklayıp, seçenekler (preferences) sayfasına ulaşabilirsiniz.</dd>
                    <dt>Seçenekler (preferences) menüsündeki alanlar ne işe yarıyor?</dt>
                    <dd>
                       <p class="first"><strong>Description</strong>: Bu alanda kim olduğunuza dair kısa açıklayıcı bir metin girebilirsiniz. Profilinize gelen kullanıcılar bu metni görürler.</p>
                        <p><strong>Known Languages</strong>: Buradan bildiğiniz dilleri seçersiniz, linkfloyd bilmediğiniz dillerdeki gönderileri size göstermez.</p>
                        <p><strong>Maximum Rating</strong>: Buradan ne kadar hoşgörülü olduğunuzu seçebilirsiniz. Linkfloyd seçtiğiniz ayarın üstündeki gönderileri size göstermez.</p>
                        <p class="last"><strong>Summary Mails</strong>: Linkfloyd takip ettiğiniz kanallara yeni gönderiler yapıldığı zaman size tek tek bildirmek yerine günlük, haftalık ya da aylık olarak özet e-postaları atar. Buradan bu sıklığı belirleyebilirsiniz.</p>
                    </dd>
                    <dt>Linkfloyd'un Türkçe desteği nerde?</dt>
                    <dd>Henüz yok.</dd>
                    <dt>Bir hata buldum, önerim var ne yapayım?</dt>
                    <dd>Linkfloyd'un github hesabındaki issues bölümünü kullanabilirsiniz, ya da feedback kanalına gönderide bulunabilirsin.</dd>
                    <dt>Bu işin arkasında kim var?</dt>
                    <dd>Mirat Can Bayrak, (twitter @mirat)</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock %}
z
