{% load static i18n gravatar %}{% get_static_prefix as STATIC_PREFIX %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
    <head>

    {% block meta_tags %}
        {% include "includes/meta_tags.html" %}
    {% endblock %}

    <meta property="og:site_name" content="LinkFloyd" />
    <meta property="fb:app_id" content="272205239538842" />
    <meta property="fb:admins" content="649222888" />
    <meta property="og:type" content="website" />

    <meta name="robots" CONTENT="index, follow" />
    <meta name="google-site-verification" content="nWyMcBnjRMa4oApMUNBZwWFo080k7E7RdLh_sb2B9GQ" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet/less" type="text/css" href="{{STATIC_PREFIX}}css/style.less" />
    <link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/less-1.1.3.min.js"></script>

    {% include "includes/google_analytics.html" %}

    {% block extra_head %}{% endblock %}
    <script type="text/javascript" >
        var ww;
        $(document).ready(function() {
            ww = document.body.clientWidth;
            $(".nav li a").each(function() {
                if ($(this).next().length > 0) {
                    $(this).addClass("parent");
                };
            })
            
            $(".toggleMenu").click(function(e) {
                e.preventDefault();
                $(this).toggleClass("active");
                $(".nav").toggle();
            });
            adjustMenu();
        })

        $(window).bind('resize orientationchange', function() {
            ww = document.body.clientWidth;
            adjustMenu();
        });

        var adjustMenu = function() {
            if (ww < 768) {
                $(".toggleMenu").css("display", "inline-block");
                if (!$(".toggleMenu").hasClass("active")) {
                    $(".nav").hide();
                } else {
                    $(".nav").show();
                }
                $(".nav li").unbind('mouseenter mouseleave');
                $(".nav li a.parent").unbind('click').bind('click', function(e) {
                    // must be attached to anchor element to prevent bubbling
                    e.preventDefault();
                    $(this).parent("li").toggleClass("hover");
                });
            } 
            else if (ww >= 768) {
                $(".toggleMenu").css("display", "none");
                $(".nav").show();
                $(".nav li").removeClass("hover");
                $(".nav li a").unbind('click');
                $(".nav li").unbind('mouseenter mouseleave').bind('mouseenter mouseleave', function() {
                    // must be attached to li so that mouseleave is not triggered when hover over submenu
                    $(this).toggleClass('hover');
                });
            }
        }
    </script>


</head>
<body {% block class_body %}{% endblock %}>
    <div id="header">
        <div class="wrapper">
            <a class="toggleMenu" href="#">{% trans "Menu" %}</a>
            <ul class="nav">
                <li>
                    <a id="logo" href="/">LinkFloyd</a>
                </li>
                {% block extra_nav %}{% endblock extra_nav %}
                {% if user.is_authenticated %}
                <li>
                   <a href="{{user.get_absolute_url}}">Ben</a>
                   <ul class="sub">
                        <li><a href="{% url update_preferences %}">{% trans "Preferences" %}</a></li>
                        <li><a href="{% url auth_logout %}">{% trans "Log out" %}</a></li>
                    </ul>
                </li>
                {% endif %}
                <li>
                    <a href="#">{% trans "Posts" %}</a>
                    <ul>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url links_upvoted_by user %}">{% trans "Your Likes" %}</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url all_links %}">{% trans "All Posts" %}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" {% if active_nav_item == "channels" %}class="active"{% endif %}>
                        {% trans "Channels" %}
                    </a>
                    <ul>
                        <li>
                            <a href="{% url browse_channels %}">{% trans "Browse Channels" %}</a>
                        </li>
                        <li>
                            <a href="{% url create_channel %}">{% trans "Create a Channel" %}</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url browse_subscriptions %}">{% trans "Your Subscriptions" %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="/links/random/">{% trans "Random" %}</a></li>
                <li{% if active_nav_item == "submit" %} class="active"{% endif %}>
                    <a href="/links/submit/{% if links_from == "channel" %}?channel={{instance.slug}}{% endif %}">{% trans "Submit a Link" %}</a>
                </li>
                {% if not user.is_authenticated %}
                <li>
                    <a href="{% url auth_login %}?next={{request.get_full_path}}">{% trans "Login" %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <div id="content">
            <div class="wrapper">
                {%block content%}{%endblock content%}
            </div>
        </div>
        <div id="footer"></div>
    </body>
</html>
