{% load static %}{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="stylesheet/less" type="text/css" href="{{STATIC_PREFIX}}css/pallette.less">
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/less-1.1.3.min.js"></script>
</head>

<body>
    <div id="cello_dark_4"></div>
    <div id="cello_dark_3"></div>
    <div id="cello_dark_2"></div>
    <div id="cello_dark_1"></div>
    <div id="cello"></div>
    <div id="cello_light_1"></div>
    <div id="cello_light_2"></div>
    <div id="cello_light_3"></div>
    <div id="cello_light_4"></div>
    <div id="red"></div>
	
</body>

</html>
