{% load i18n qhonuskan_votes thumbnail gravatar %}
<div class="link{% ifequal highlight link.id %} highlight{% endifequal %}" id="{{link.id}}">
    <div class="left-panel">
        {% vote_buttons_for link %}
        <div class="avatar">{% gravatar_img_for_user link.posted_by 38 %}</div>
        {% comment %}
        <g:plusone annotation="none" href="http://linkfloyd.com{{link.get_absolute_url}}"></g:plusone>
        {% endcomment %}

    </div>
	{% if link.thumbnail_url %}
	<a {%if link.player %}href="#" play="{{link.player}}"{% else %}href="{{link.get_absolute_url}}"{% endif %} class="thumbnail {% if link.player %}playble{% endif %}">
        {% thumbnail link.thumbnail_url "120x80" crop="center" as im %}<img src="{{ im.url }}">{% endthumbnail %}
        {% if link.player %}<i></i>{% endif %}
	</a>
	{% endif %}
    <div class="header">
	    <h3 class="title"><a href="{{link.url}}" target="_blank">{{link.title}}</a></h3>
    </div>
    {% if link.description %}<p class="description">{{link.description}}</p>{% endif %}
    <p class="info">Posted by <a href="{{link.posted_by.get_absolute_url}}">{{link.posted_by}}</a> to <a class="channel" href="{{link.channel.get_absolute_url}}">{{link.channel}}</a> channel {{link.posted_at|timesince}} ago. Displayed {{link.shown}} times. </p>
    <ul class="flat-list actions">
        <li><a href="{{link.get_absolute_url}}">Comments ({{link.comment_score}})</a></li>
        {% ifequal link.posted_by user %}
        <li><a href="{% url update_link link.id %}">{% trans "Update" %}</a></li>
        <li><a href="#" class="deleteLink">{% trans "Delete" %}</a></li>
        {% endifequal %}
        <li>
            <a href="http://www.addthis.com/bookmark.php" addthis:url="{{link.get_full_url}}" addthis:title="{{link.title}}" {% if link.description %}addthis:description="{{link.description}}"{% endif %} style="text-decoration:none;" class="addthis_button">{% trans "Share" %}</a>
        </li>
    </ul>
</div>
