{% extends "base.html" %}{% load i18n gravatar channel_tags qhonuskan_votes %}

{% block extra_head %}
    {% if highlight %}<script type="text/javascript" src="{{STATIC_URL}}js/libs/jquery.color.js"></script>{% endif %}
    <script type="text/javascript" src="{{STATIC_URL}}js/csrf_fix.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/links.js"></script>
    {% voting_script %}
{% endblock extra_head %}

{% block content %}
<div class="two-column">
    <div class="panel">
        {% if channel %}
            <div class="about section">
                <h2 class="header">{% trans "About Channel" %}</h2>
                <p class="channel_description">{{channel.description|linebreaks}}</p>
            </div>
            <div class="actions section">
                <h2 class="header">{% trans "Actions" %}</h2>
                    <ul>
                    {% if user|is_following:channel %}
                        <li><a href="/channels/unsubscribe/{{ channel.slug }}/" class="unsubscribe">Unsubscribe</a></li>
                    {% else %}
                        <li><a href="/channels/subscribe/{{ channel.slug }}/" class="subscribe">Subscribe</a></li>
                    {% endif %}
                    {% if user|subscription_status:channel == 'admin' %}
                        <li><a href="{% url update_channel channel.slug %}">Update Channel</a></li>
                    {% endif %}
                </ul>
            </div>

        {% endif %}

        {% if profile %}
            <div class="about section">
                <h2 class="header">{% trans "About User" %}</h2>
                <p class="channel_description">{{profile.description}}</p>
            </div>
        {% endif %}



        {% if user.is_authenticated %}
            <div class="channels section">
                <h2 class="header">{% trans "Subscripted Channels" %}</h2>
                <ul class="channels">
                    {% for subscription in user.channel_subscriptions.all %}
                    <li>
                        <a href="{{subscription.channel.get_absolute_url}}">{{subscription.channel}}</a>
                    </li>
                    {% empty %}
                    <li>
                        You don't have any subscriptions yet.
                        You can <a href="{% url browse_channels %}">Browse channels</a> to find channels
                        for subscribing.
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if channel %}
         <div class="subscribers section">
            <h2 class="header">{% trans "Subscribers" %} ({{channel.subscription_set.all.count}})</h2>
            <div class="followers">
                {% for subscription in channel.subscription_set.all %}
                <a href="#" id="{{subscription.user.username}}">
                    <img src="{% gravatar_for_user subscription.user 30 %}">
                </a>
                {% endfor %}
            </div>
        </div>
       {% endif %}
    </div>
    <div class="content section">
        <h2 class="header">{{listing_title}}
            <ul class="right flat-list">
                {% if channel %}
                    <li>
                        <a class="buttonized" href="/links/submit/?channel={{ channel.slug }}">Submit a Link to {{ channel }}</a>
                    </li>
                {% endif %}
            </ul>
        </h2>
        <div class="body">
            {% for link in links %}
                {% include "links/link_as_list_item.html" %}
            {% empty %}
                <p class="warning">
                    {% trans "No links found." %}
                </p>
            {% endfor %}
            {% include "pagination_links.html" %}
        </div>
    </div>
</div>
{% if highlight %}
    <script type="text/javascript">
        $("div.link#"+{{highlight}}).animate({
            backgroundColor: 'rgba(0, 0, 0, 0)'}, 6000);
    </script>
{% endif %}
{% endblock content %}
