{% extends "base.html" %}
{% load i18n gravatar qhonuskan_votes %}

{% block title %}{{link.title}}{% endblock title %}
{% if link.description %}{% block description %}{{link.description}}{% endblock %}{% endif %}
{% block ogtags %}
    <meta property="og:image" content="{% if link.thumbnail_url %}{{link.thumbnail_url}}{% else %}{{STATIC_PREFIX}}logo.png{% endif %}" />
    <meta property="og:title" content="{{link.title}}" />
    <meta property="og:url" content="http://linkfloyd.com{{link.get_absolute_url}}" />
    <meta property="og:description" content="{{link.description}}" />
    <link rel="canonical" href="http://linkfloyd.com{{link.get_absolute_url}}" />
{% endblock %}
{% block extra_head %}
    <script type="text/javascript" src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/csrf_fix.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/links.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            prettyPrint()
        });
    </script>
	<link href="http://google-code-prettify.googlecode.com/svn/trunk/styles/desert.css" rel="stylesheet" type="text/css">
    {% voting_script %}
{% endblock %}

{% block content %}
<div class="section">
    <h2 class="header">{{link.title}} via <a href="{{link.posted_by.get_absolute_url}}">{{link.posted_by}}</a></h3>
    {% include "links/link_as_list_item.html" %}

    {% for comment in link.comment_set.all %}
        {% include "links/comment.html" %}
    {% endfor %}

    {% if user.is_authenticated %}
        {% include "links/comment_form.html" %}
    {% else %}
    <p class="warning">
        This conversation is missing your voice.
        Take five seconds to
        <a href="{% url registration_register %}">join Linkfloyd</a>
        or
        <a href="{% url auth_login %}">log in</a>.
    {% endif %}
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=miratcan"></script>
{% endblock content %}
