body {
    background : #ddd;
    padding:0;
    margin:0;
    font-family:sans;
    font-size:80%;
}

a {
    text-decoration:none;
    color:#3b5998;
}

table {
width:100%;
}

table > tbody > tr > th {
    text-align:center;
    margin:5px;
    border-bottom:1px solid black;
}

table > tbody > tr > td {
    text-align:center;
}

table > tbody > tr:hover {
    background:#ccc;
}

abbr {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}