BeautifulSoup==3.2.0
Django==1.4
Markdown==2.1.1
Pillow==1.7.6
PyOpenGraph==0.2
South==0.7.3
argparse==1.2.1
distribute==0.6.24
django-devserver==0.3.1
django-extensions==0.7.1
django-gravatar==0.1.0
-e git+https://github.com/miratcan/django-ogp.git@4ada147f507c284bc5c824ebf77f6504ff249448#egg=django_ogp-dev
django-registration==0.7
django-transmeta==0.6.6
ipython==0.12
line-profiler==1.0b3
opengraph==0.4
qhonuskan-votes==0.1.7
sorl-thumbnail==11.12
wsgiref==0.1.2
