{% extends "base.html" %}{% load channel_tags i18n %}
{% block extra_head %}
     <script type="text/javascript" src="{{STATIC_PREFIX}}js/csrf_fix.js"></script>
     <script type="text/javascript" src="{{STATIC_PREFIX}}js/subscriptions.js"></script>
{% endblock %}

{% block content %}
     <div class="two-column">
         <div class="panel"></div>
         <div class="content section channels">
		 <h2 class="header">{{title}}</h2>
             {% for channel in channels %}
                {% include "channels/channel_as_list_item.html" %}
             {% endfor %}
             {% include "pagination_links.html" %}
         </div>
     </div>
{% endblock %}
