{% extends "base.html" %}
{% block content %}
<div class="two-column">
    <div class="panel">
    </div>
    <div class="content section channels">
        <h2 class="header">Browsing Channels</h2>
        {% for channel in channels %}
        <div class="channel">
            <div class="header">
                <h3 class="name">
                    <a href="{{channel.get_absolute_url}}">
                    {{channel.name}}
                    </a>
                </h3>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
