{% load channel_tags i18n %}
 <div id="{{ channel.slug }}" class="channel">
     {% with subscription_status=user|channel_subscription_status:channel %}
     <a href="#" data-slug= "{{channel.slug}}" class="subscription_status{% if subscription_status %} subscribed{% endif %}">
         {% if subscription_status %}{% trans "Subscribed" %}{% else %}{% trans "Subscribe" %}{% endif %}
     </a>
     {% endwith %}
     <h3>
         <a href="{{channel.get_absolute_url}}">{{channel.name}}</a> ({% blocktrans with subscribers=channel.num_of_subscribers %}{{subscribers}} subscribers{% endblocktrans %}, {{channel.language}})
     </h3>
     </div>
     <div class="description">
         {{ channel.description|linebreaks }}
     </div>
 </div>
