{% extends "base.html" %}{% load channel_tags i18n %}
{% block extra_head %}
     <script type="text/javascript" src="{{STATIC_PREFIX}}js/csrf_fix.js"></script>
     <script type="text/javascript" src="{{STATIC_PREFIX}}js/subscriptions.js"></script>
{% endblock %}

{% block content %}
<div class="two-column">
     <div class="panel">
        <div class="section">
            <h2>{% trans "Filter By Language" %}</h2>
            <ul class="navigation">
                {% for lang in languages %}
                    <li {% if active_filter = lang.code %}class="active"{% endif %}><a href="?lang={{lang.code}}">{{ lang.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="content section">
        <h2 class="header">{{title}}</h2>
        {% for channel in channels %}{% include "channels/channel_as_list_item.html" %}{% endfor %}
        {% include "pagination_links.html" %}
    </div>
</div>
{% endblock %}
