{% load thumbnail %}{% spaceless %}
<div class="attachment {% if expanded_attachments %}expanded{% endif %} {% if link.player %}playble{% endif %}"
    {% if link.thumbnail_url %}style="background-image:url({{link.thumbnail_url}});"{% endif %}>
    <div class="embed_player">{% if expanded_attachments %}{{link.player|safe}}{% endif %}</div>
    {% if link.player %}<i class="playButton" player="{{link.player}}"></i>{% endif %}
    <a class="title" href="{{link.url}}"{% if attachment_editable %} contenteditable="True"{% endif %}>{% if link.title %}{{link.title}}{% else %}{{link.url|truncatechars:60}}{% endif %}</a>
    {% if link.description %}
        <p class="description"{% if attachment_editable %} contenteditable="True"{% endif %}>{{link.description}}</p>
    {% endif %}
</div>{% endspaceless %}
