{% load static i18n %}{% get_static_prefix as STATIC_PREFIX %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
	<head>
        <link rel="stylesheet/less" type="text/css" href="{{STATIC_PREFIX}}css/style.less" />
        <link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/less-1.1.3.min.js"></script>
    {{form.media}}
    <link rel="stylesheet/less" type="text/css" href="{{STATIC_PREFIX}}css/libs/token-input.less">
    </head>
    <body>
        {% include "links/submit_form.html" %}
    </body>
</html>

