{% load gravatar %}
<div class="comment" id="{{comment.id}}">
    <a href="{{comment.posted_by.get_absolute_url}}"
	   title="{{comment.posted_by.username}}"
           class="avatar"
	   title={{comment.posted_by.username}}
	   style="background:url({% gravatar_for_user comment.posted_by 42 %})"></a>
    <div class="content">
       {{ comment.as_html|safe }}
       {% ifequal comment.posted_by user %}
           <ul class="actions flat-list">
               <li><a class="deleteComment" href="#">delete</a></li>
               <li><a class="getUpdateCommentForm" href="#">edit</a></li>
          </ul>
       {% endifequal %}
   </div>    
</div>
