{% load i18n %}
<div class="comment" id="{{comment.id}}">
    <div class="content">
       {{ comment.as_html|safe }}
       {% ifequal comment.posted_by user %}
           <ul class="actions flat-list">
               <li><a class="deleteComment" href="#">
                   {% trans "Delete" %}
               </a></li>
               <li><a class="getUpdateCommentForm" href="#">
                   {% trans "Update" %}
               </a></li>
          </ul>
       {% endifequal %}
   </div>    
</div>
