{% load i18n qhonuskan_votes thumbnail gravatar channel_tags %}
<div class="post{% ifequal highlight link.id %} highlight{% endifequal %}" id="{{link.id}}">
	<div class="side">
		{% vote_buttons_for link %}
	</div>
    <div class="content">
        <p class="info"><a class="posted_by" href="{{link.posted_by.get_absolute_url}}">{{link.posted_by}}</a> &rarr; <a class="channel" href="{{link.channel.get_absolute_url}}">{{link.channel}}</a>:</p>
        {% if link.body %}<p class="body">{{link.body}}</p>{% endif %}
        {%if link.url %}
            {% include "links/attachment.html" %}
        {% endif %}
        <ul class="flat-list actions">
            <li><a href="{{link.get_absolute_url}}">{% trans "Comments" %} ({{link.comment_score}})</a></li>
            {% if link.posted_by == user or user.is_staff %}
                <li><a href="{% url update_link link.id %}">{% trans "Update" %}</a></li>
                <li><a href="#" class="deleteLink">{% trans "Delete" %}</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
                {% with link_subscription_status=user|link_subscription_status:link %}
                    {% if link_subscription_status %}
                        <a class="switchFollowLink" title="Do not send emails about that link anymore" href="#">{% trans "Unsubscribe" %}</a></li>
                    {% else %}
                        <a class="switchFollowLink" title="Email me when somebody comments on that link" href="#">{% trans "Subscribe" %}</a></li>
                    {% endif %}
                {% endwith %}
            </li>
            {% endif %}
            <li>
            <a href="http://www.addthis.com/bookmark.php" class="addthis_button" addthis:url="{{link.get_full_url}}" addthis:title="{{link.channel}}: {{link.title}}" {% if link.description %}addthis:description="{{link.description}}"{% endif %}>{% trans "Share" %}</a>
            </li>
            <li>
                {{link.posted_at|timesince}} {% trans "ago" %}
            </li>
        </ul>
    </div>
        {% if expanded_comments %}
            <div class="comments">
                {% for comment in link.comment_set.all %}
                    {% include "links/comment.html" %}
                {% endfor %}
                {% if user.is_authenticated %}
                    {% include "links/comment_form.html" %}
                {% else %}
                    <div class="comment">
                        <p class="warning">
                            {% url auth_login as login_url %}
                            {% blocktrans %} <a href="{{ login_url }}">Log in</a> to leave comment {% endblocktrans %}
                        </p>
                    </div>
               {% endif %}
            </div>
        {% endif %}
</div>
