{% extends "base.html" %}{% load i18n gravatar channel_tags %}

{% block extra_head %}
    {% if highlight %}<script type="text/javascript" src="{{STATIC_URL}}/js/libs/jquery.color.js"></script>{% endif %}
{% endblock extra_head %}

{% block content %}
<div class="two-column">
    <div class="panel">
        {% if user.is_authenticated %}
            <div class="channels section">
                <h2 class="header">{% trans "Subscripted Channels" %}</h2>
                <ul class="channels">
                    {% for subscription in user.subscription_set.all %}
                        <li><a href="{{subscription.channel.get_absolute_url}}">{{subscription.channel}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if channel %}
         <div class="followers section">
            <h2 class="header">{% trans "Subscribers" %} ({{channel.subscription_set.all.count}})</h2>
            <div class="followers">
                {% for subscription in channel.subscription_set.all %}
                <a href="#" id="{{subscription.user.username}}">
                    <img src="{% gravatar_for_user subscription.user 30 %}">
                </a>
                {% endfor %}
            </div>
        </div>
       {% endif %}
    </div>
    <div class="content section">
        <h2 class="header">{{listing_title}}
            <ul class="right flat-list">
                {% if channel %}
                    <li><a href="/links/submit/?channel={{ channel.slug }}">Submit a Link to {{ channel }}</a></li>
                    <li>
                        {% if user|is_following:channel %}
                            <a href="/channels/unsubscribe/{{ channel.slug }}/" class="unsubscribe">Unsubscribe</a>
                        {% else %}
                            <a href="/channels/subscribe/{{ channel.slug }}/" class="subscribe">Subscribe</a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        </h2>
        <div class="body">
            {% for link in links %}
                {% include "links/link_as_list_item.html" %}
            {% empty %}
                <p class="warning">
                    {% trans "No links found." %}
                </p>
            {% endfor %}
                <div class="pagination">
                    <span class="page_links">
                        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">previous</a>{% endif %}
                        {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">next</a>{% endif %}
                    </span>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/links.js"></script>
{% if highlight %}
    <script type="text/javascript">
        $("div.link#"+{{highlight}}).animate({
            backgroundColor: 'rgba(0, 0, 0, 0)'}, 6000);
    </script>
{% endif %}
<script type="text/javascript">
    var addthis_config =
        { services_compact: 'email, gmail, facebook, twitter',
          services_exclude: 'formspring',
          ui_click: true }

    var addthis_localize =
        { share_caption: "{% trans 'Share' %}",
        email: "{% trans 'E-posta' %}" }
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ec6bf7a4c4877e7"></script>
{% endblock content %}
