{% load i18n qhonuskan_votes thumbnail gravatar channel_tags %}
<div class="post{% ifequal highlight link.id %} highlight{% endifequal %}" id="{{link.id}}">
	<div class="side">
        <a class="avatar" href="{{link.posted_by.get_absolute_url}}" style="background: url({% gravatar_for_user link.posted_by 42 %})"></a>

        <div class="vote_buttons" x:model="links.LinkVote" x:id="{{link.id}}">
            <a href="#" class="upVote{% if link.is_voted_up %} voted{%endif%}" x:value="1" ></a>
            <a href="#" class="downVote{% if link.is_voted_down %} voted{%endif%}" x:value="-1"></a>
            <div class="score">{{link.vote_score}}</div>
        </div>
	</div>
    <div class="content">
        {% if link.body %}<p class="body">{{link.body}}</p>{% endif %}
        {%if link.url %}
            {% include "links/attachment.html" %}
        {% endif %}
        <ul class="flat-list actions">
            <li><a href="{{link.get_absolute_url}}">{% trans "Comments" %} ({{link.comment_score}})</a></li>
            {% if link.posted_by == user or user.is_staff %}
                <li><a href="{% url update_link link.id %}">{% trans "Update" %}</a></li>
                <li><a href="#" class="deleteLink">{% trans "Delete" %}</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
                {% if link.is_subscribed %}
                    <a class="switchFollowLink" title="Do not send emails about that link anymore" href="#">{% trans "Unsubscribe" %}</a></li>
                {% else %}
                    <a class="switchFollowLink" title="Email me when somebody comments on that link" href="#">{% trans "Subscribe" %}</a></li>
                {% endif %}
            </li>
            {% endif %}
            <li>
            <a href="http://www.addthis.com/bookmark.php" class="addthis_button" addthis:url="{{link.get_full_url}}" addthis:title="{{link.channel}}: {{link.title}}" {% if link.description %}addthis:description="{{link.description}}"{% endif %}>{% trans "Share" %}</a>
            </li>
        </ul>

    </div>

    <div class="info">
        Posted by 
        <a href="{{link.posted_by.get_absolute_url}}">{{link.posted_by}}</a>
        to 
        <a class="channel" href="{{link.channel.get_absolute_url}}">{{link.channel}}</a>, {{link.posted_at|timesince}} ago.
    </div>

        {% if expanded_comments %}
            <div class="comments">
                {% for comment in link.comment_set.all %}
                    {% include "links/comment.html" %}
                {% endfor %}
                {% if user.is_authenticated %}
                    {% include "links/comment_form.html" %}
                {% else %}
                    <div class="comment">
                        <p class="warning">
                            {% url auth_login as login_url %}
                            {% blocktrans %} <a href="{{ login_url }}">Log in</a> to leave comment {% endblocktrans %}
                        </p>
                    </div>
               {% endif %}
            </div>
        {% endif %}
</div>
