{% load i18n %}
<form action="#" method="post">
    {{ form.non_field_errors }}
    <div id="add_link" class="fieldWrapper">
        <label>Link <span id="remove_link">(<a href="#">Click here to remove</a>)</span><ul class="errorlist"><li>{% trans "This link is not reachable" %}</li></ul></label>
        <div id="link_input">
            {{ form.url }}
        </div>
        <div id="attachment_preview" class="fieldWrapper"></div>
    </div>
    <div class="fieldWrapper">
        <label>{% trans "Comment" %}</label>
        {{ form.body }}
    </div>
    <div class="fieldWrapper">
        <div class="left">
            <label for="{{form.channel.html_name}}">{{form.channel.label}}{{form.channel.errors}}</label>
            {{ form.channel }}
        </div>
        <div class="right">
            <label for="{{form.rating.html_name}}">{{form.rating.label}}{{form.rating.errors}}</label>
            {{ form.rating }}
        </div>
    </div>
    {% csrf_token %}
    <input type="hidden" name="title" value="" />
    <input type="hidden" name="description" value="" />
    <input type="hidden" name="thumbnail_url" value = "" />
    <input type="hidden" name="player" value="" />
    <div class="fieldWrapper">
        <input id="id_submit" type="submit" value="{% trans 'Submit' %}" />
    </div>
</form>

<script type="application/javascript">
    $("#id_body").focus(function() {
        $(this).height(48)
    });
    $("#id_channel").tokenInput("/api/channels/list/", {
         tokenLimit: 1,
         {% if form.channel.value %}
             prePopulate: [{
                 "id": "{{ form.channel.value }}",
                 "name": "{{ form.channel.instance }}"
             }]
         {% endif %}
     });
</script>

