<form action="/comments/update/{{form.instance.id}}/" method="post" class="comment">
    {% csrf_token %}
    {{ form.errors }}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {% if not field.is_hidden %}
            <label>{{ field.label }}<span class="desc">{{ field.help_text }}</span></label>
        {% endif %}
        {{ field }}
    </div>
    {% endfor %}
    <input type="submit" value="Update">
    <input class="cancelUpdateComment" type="button" value="Cancel">
</form>
