@import "less/vars.less";
div.post {
    a.avatar {  width: 40px;
                height: 40px;
                background: top left no-repeat;
                box-shadow: 0 1px 5px rgba(0,0,0,.46); }
    span.mod, span.lib { float: left;
    		             display: inline;
                         width: 12px;
                         height: 12px;
                         border-radius: 6px;          
                         margin: 4px 5px 0 0; }
    span.mod { background: @yellow; }
    span.lib { background: @red; }
    div.vote_buttons,
    div.thumbnail, a.body { .fl; .mb; }
    div.vote_buttons      { width: 30px;
                            height: 70px;
                            .mr;
                            .upVote { display: block;
                                      width: 0px;
                                      height: 0px;
                                      border-style: solid;
                                      border-width: 0 15px 15px 15px;
                                      border-color: transparent transparent @m3 transparent;
                                      &.voted {
                                      	border-color: transparent transparent @m2 transparent; }}
                           .downVote { display: block;
                                       width: 0px;
                                       height: 0px;
                                       border-style: solid;
                                       border-width: 15px 15px 0 15px;
                                       border-color: @m3 transparent transparent transparent;
                                      &.voted {
                                        border-color: @m2 transparent transparent transparent;}}
                            .score { font-weight: bold;
                                     color: @m3;
                                     width: 30px;
                                     text-align: center; }}
    div.body { display: table-cell;
               p.title, p.description, ul.actions, p.info { margin: 0 0 3px 0;
                                                            display: block; }
               p.title { .db; .oa; .f_stng;
               	         text-decoration: underline;
                         color: @red;
                         a { float: left; }
                         a.external { margin-left: 10px;
                                      width: 17px;
                                      height: 17px;
                                      background: url(../img/external.png) top left;
                                      clear: right; }}
               div.description { .c_nrml; .f_nrml; .mt; }
               ul.actions, p.info { .f_tiny; .c_nrml; .b;
                                    color: @m3;
                                    a { color: lighten(@blue, 40)}}
    }
    div.thumbnail { position: relative;
                    img { width: 100px;
                          height: 60px;
                          .mr; }
                   i { cursor: pointer;
                       background: top left url(https://s-static.ak.facebook.com/rsrc.php/v1/y6/r/gY6pCnDw29i.png);
                       width: 35px;
                       height: 26px;
                       position: absolute;
                       bottom: 8px;
                       left: 4px; }}}

