@cello: #333d48;
@olive: #336d48;
@orange: #cd5c0c;
@purple: #633d48;
@red: #c33d48;
@black: #000000;

@light: #ccc;
@middle: #666;
@heavy: #111;

/* Fonts */

.bigtext {
    font-size: 18px;
    line-height: 22px;
}

.normaltext {
    font-size: 16px;
    line-height: 20px;
}

.smalltext {
    font-size: 14px;
    line-height: 18px;
}

p.success, p.error, p.warning {
    .bigtext;
    text-align: center;
    padding: 10px;
}

.success {
    background: @olive;
 }

.warning {
    background: @purple;
    color: black;
}

.error {
    background: @red;
    color: grey_light_5;
}

a.avatar {
    width: 30px;
    height: 30px;
    float: left;
    display: block;
    margin: 5px;
}

/* Layout */

/* remove the list style */

div#header {
    background: @heavy;
    overflow: auto;
}

a#logo {
    font-size: 2em;
    font-family: 'Lilita One', cursive;
    color: white;
    position: absolute;
    top: 10px;
    text-decoration: none;
}

ul#nav {
    float: right;
    margin: 0; 
    padding: 0;
    display: block;
    overflow: auto;
    list-style: none;
    border-top: 1px solid #222;
    li {
        border-right: 1px solid black;
        border-left: 1px solid #222;
        float: left; 
        display: block; 
        position: relative;
        z-index: 500; 
        margin: 0;
        padding: 0;
    }
}

ul#nav, ul.subnav {
    a {
        display:block;
        padding: 10px;
        color:@middle;
        font-weight: normal;
        text-decoration: none;
    }
    a:hover {
        background: #333;
        color: #ccc;
    }
}

div.content div.body {
    background: url(../img/mascot.png) bottom right no-repeat;
}

div.wrapper {
    padding: 0 10px;
}

div.section {
    display: block;
    overflow: auto;
}

body {
    background: @black;
    color: @light;
    .normaltext;
    margin: 0;
    padding: 0;
    font-family: sans;
    font-family: serif;
}

p {
    margin: 15px 0;
}

a {
    color: lighten(@cello, 20%);
}

div.panel { 
    margin: 0 0 0 10px;
    padding: 0;
    width: 260px;
    float: right;
}

div.pagination {
    overflow: auto;
    margin: 0 0 10px 0;
    clear: both;
    span.page_links {
        a.previous {
            float: left;
        }
        a.next {
            float: right;
        }
    }
}

/* Widgets */

.buttonized {
    background: @heavy;
    padding: 10px;
    color: inherit;
    font-weight: bold;
    border-radius: 3px;
    border: 1px outset #333;
    text-decoration: none;
    &:hover {
    }
    &:active {
        border-style: inset;
    }
    &:disabled {

    }
}


ul.flat-list {
    margin: 0 0 10px 0;
    padding: 0;
    display: block;
    overflow: auto;
    list-style-type: none;
    li {
        margin: 0 20px 0 0;
        padding: 0;
        float: left;
    }
}

div.post {
    margin: 20px 0;
    overflow: auto;
    > div.content {
        margin-left: 35px;
    }
    p.body {
        font-size: 20px;
        line-height: 24px;
    }
    div.side {
        width: 24px;
        float: left;
    }
    &.playble {
        a.title, p.description {
            margin-left: 35px !important;
        }
    }

    div.embed_player {
        margin: 0;
        padding: 0;
        clear: both;
    }

    div.embed_player > * {
        display: block;
        width: 100%;
    }

    div.embed_player > img.embed {
        height: auto;
    }
    ul.actions {
        .smalltext;
    }
    div.vote_buttons {
        overflow: auto;

        a.upVote, a.downVote, div.score {
            display: block;
        }

        a.upVote {
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid @middle;
            margin-bottom: 15px;
        }

        a.downVote {
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 12px solid @middle;
        }

        a.upVote.voted {
            border-bottom-color: @orange;
        }

        a.downVote.voted {
            border-top-color: @orange;
        }

        div.score {
            margin: 0;
            padding: 0 0 5px 0;
            text-align: center;
            vertical-align: center;
            font-weight: bold;
            color: #555;
            display: block;
            clear: both;
        }

    }
}

div.attachment{
    margin: 0 0 10px 0;
    padding: 0;
    border-radius: 3px;
    border: 1px solid @heavy;
    overflow: auto;
    a.title, p.description {
        .smalltext;
        margin: 10px;
    }
    a.title {
        display: block;
    }
    &.playble {
        a.title, p.description {
            margin-left: 35px !important;
        }
    }
    div.thumbnail {
        position: relative;
        display: block;
        float: left;
        margin: 0 10px 0 0;
        padding: 0;
        width: 160px;
        img {
            width: 160px;
            padding: 0;
            margin: 0 auto;
        }
        i {
            background: top left url(https://s-static.ak.facebook.com/rsrc.php/v1/y6/r/gY6pCnDw29i.png);
            width: 35px;
            height: 26px;
            position: absolute;
            bottom: 4px;
            left: 2px;
            cursor: pointer;
        }
    }
    &.expanded {
        padding-top: 5px;
        background-image: none !important; 
        i.playButton {
            background-image: url(../img/icons/stop.png) !important;
        }
    }
}

div.comments {
    margin: 0 0 0 35px;
    div.comment {
        overflow: auto;
        clear: both;
        margin: 0;
        padding: 0;
        border-bottom: 1px dashed @middle;
        form {
            padding: 0;
            textarea {
                height: 120px;
            }
            label {
            }
        }
        div.content {
            margin: 0;
            padding: 0;
            p.info {
                a.posted_by {
                    font-weight: bold;
                }
                span.date {
                    font-size: 10px;
                }
            }
            ul.actions {
                display: none;
            }
            &:hover {
                ul.actions {
                   display: block;
                }
           }
       }
       blockquote {
            background: @black;
            border: 1px solid @cello;
            padding: 5px;
            p {
                margin:  0 !important;
            }
        }
        pre {
            background: black;
        }
    }
}   

ul.subnav {
    position: absolute;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 1px solid #222;
    border-right: 1px solid #000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: @heavy;
    display: none;
    li {
        margin: 0;
        padding: 0;
    }
}

form {
    display:block;
    overflow: auto;
    margin: 0;
    padding: 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 800px;
    div.fieldWrapper{
        &#rating, &#channel {
            width: 49%;
        }
        &#rating {
            float: left;
        }
        &#channel {
            float: right;
        }
        &#body textarea {
            height: 30px;
        }
        margin: 0 0 5px 0;
        padding: 0;
        overflow: auto;
        overflow-y: auto;
        overflow-x: hidden;
        label {
            color: @middle;
            display: block;
            font-weight: bold;
            margin: 0 0 5px 0;
            padding: 0;
            &:first-child {
                margin-top: 0;
            }
            span {
                .smalltext;
                font-weight: normal;
                margin: 0 0 0 6px;
                &#remove_link {
                    display: none;
                }
                &#slug_hview {
                    margin: 0;
                }
            }
        }
        ul.errorlist {
            float: right;
            margin: 0;
            padding: 0;
            display: block;
            li {
                list-style-type: none;
                margin: 6px 0 0 0;
                padding: 0;
                color: red;
                float:right;
                .smalltext;
            }
        }
    }

 input[type=text], input[type=password], textarea, select, textarea, ul.token-input-list {
        box-sizing: border-box; /* css3 rec */
        -moz-box-sizing: border-box; /* ff2 */
        -ms-box-sizing: border-box; /* ie8 */
        -webkit-box-sizing: border-box; /* safari3 */
        -khtml-box-sizing: border-box; /* konqueror */
        width: 100%;
        padding: 6px;
        margin: 0;
        border-radius: 3px;
        border: 1px inset @light;
        background: @heavy;
        color: @light;
        &:disabled {
            color: @middle;
        }
    }
    textarea {
        &#id_notes {
            height: 102px;
        }
    }
    select {
        padding: 4px;
    }
    input[type='submit'], input[type='button'] {
        margin:10px 10px 0 0;
        float: right;
        width: auto;
        .buttonized;
        color: @middle;
        &:first-child {
            margin-right: 0;
        }
    }
}

#thumbnailControls {
    overflow: auto;
    display: none;
    margin: 0 0 10px 0;
    #toggleThumbnail {
        float: left;
    }
    #selectThumbnail {
        overflow: auto;
        float: right;
    }
    #prev {
        float: left;
        display: block;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid white;
    }
    #next {
        float: left;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid white;
    }
    p#thumbnailStatus {
        float: left;
        margin: 0 10px;
        text-align: center;
        font-weight: bold;
    }
}

div.channels {
    div.channel {
        background: @heavy;
        padding: 5px;
        margin: 0 0 10px 0;
        a.subscription_status {
            .buttonized;
            margin: 0;


            float: right;
            &.subscribed {
                border-color: lighten(@olive, 30);
                background: @olive;
            }
        }
        h3.name {
            margin-top: 0;
            padding: 0;
            a {
                font-weight: bold;
                font-effect: outline;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    div.panel {
        display: none;
    }
    div.content.section {
        padding: 0.2em !important;
    }
}
