{% extends "base.html" %}{% load i18n %}
{% block title %}{% if account %}{% trans "Activation complete" %}{% else %}{% trans "Activation problem" %}{% endif %}{% endblock %}
{% block content %}
	{% if account %}
		<p class="success">
			{% blocktrans with account=account %}Congratulations {{ account }}, your activation complete.{% endblocktrans %}
            {% url auth_login as login_url %}
			{% blocktrans %}Now <a href='{{login_url}}'>login</a> using the username and password you set at registration.{% endblocktrans %}</p>
	{% else %}
		<p class="error">{% trans "It seems that your activation key is invalid. Check the URL again." %}</p>
	{% endif %}
{% endblock %}

