{% extends "base.html" %}
{% block title %}{% trans "Change password" %}{% endblock %}
{% block content %}
<h1>{% trans "Change Password" %}
<form method='post' action=''>
    {% csrf_token %}
    <div class="fieldWrapper">
        {{ form.old_password.label_tag }}
        {{ form.old_password.error }}
        {{ form.old_password }}
    </div>
    <div class="fieldWrapper">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1.error }}
        {{ form.new_password1 }}
    </div>
    <div class="fieldWrapper">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2.error }}
        {{ form.new_password2 }}
    </div>

    <input type='submit' value="Change password" />
</form>
{% endblock %}
