{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="one-column">
    <div class="section narrow">
        <h2 class="header">{% trans "Reset Password" %}</h2>
        <form method='post' action='#'>
	        {% csrf_token %}
            {% for field in form %}
            {% include "forms/form_field.html" %}
            {% endfor %}
            <input type='submit' value="{% trans "Reset" %}" />
        </form>
    </div>
</div>
{% endblock %}
