{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content %}
<div class="one-column">
    <div class="section narrow">
        <h2 class="header">Reset Password</h2>
        <p>{% trans "Enter your new password below to reset your password" %}:</p>
        <form method="post" action="#">
            {% csrf_token %}
            {% for field in form %}
            {% include "forms/form_field.html" %}
            {% endfor %}
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}
