{% load i18n %}{% blocktrans with user=user %}Greetings {{ user }},

You are requested that your password be reset on the {{ site_name }} site.

Click the following link, or copy and paste it into your web browser to reset your password:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uid token %}

{% blocktrans with username=user.username %}Your username, in case you've forgotten: {{ username }}{% endblocktrans %}

{% blocktrans with site_name=site_name %}{{ site_name }} Management{% endblocktrans %}
