import os

DEBUG = True

PROJECT_ROOT = os.path.dirname(
    os.path.abspath(__file__.decode('utf-8'))
)

STATIC_ROOT = os.path.join(PROJECT_ROOT, "static")
MEDIA_ROOT = os.path.join(PROJECT_ROOT, "media")

MEDIA_URL = "/media/"
STATIC_URL = "/static/"

EMAIL_HOST = "localhost"
EMAIL_PORT = 1025

SECRET_KEY = "1234"
