{% extends 'base.html' %}{% load i18n %}

{% block content %}
<div class="one-column">
    <div class="section narrow">
        <h2 class="header">{% trans "Request invitation for closed beta" %}</h2>
        <form action="{% url privatebeta_invite %}" method="post">
            {% csrf_token %}
            <div class="fieldWrapper">
                <label for="id_email">{% trans "Email" %} <span>{{form.email.help_text}}</span></label>
                {{ form.email }}
            </div>
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}
