{% extends "base.html" %}{% load i18n gravatar %}
{% block title %}{{link.title}}{% endblock title %}
{% if link.thumbnail_url %}{% block og_image %}{{link.thumbnail_url}}{% endblock %}{% endif %}

{% block content %}
<div class="section">
    <h2 class="header">{{link.title}} via <a href="#">{{link.posted_by}}</h3>

    {% include "links/link_as_list_item.html" %}
    {% for comment in link.comment_set.all %}
        <div class="comment" style="background:#555;">
            <img class="avatar" src="{% gravatar_for_user link.posted_by 40 %}">
            <div class="body">{{comment.body|linebreaks|urlize}}</div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
