{% load i18n votes thumbnail %}
<div class="link" id="{{link.id}}">
    <div class="vote_buttons">
        <a href="#" class="upVote{% if link|is_up_voted_by:user %} voted{%endif%}" x:value="+1"></a>
        <div class="score">{% if link.vote_score %}{{link.vote_score}}{% else %}0{% endif %}</div>
        <a href="#" class="downVote{% if link|is_down_voted_by:user %} voted{%endif%}" x:value="-1"></a>
    </div>
	{% if link.thumbnail_url %}
	<a {%if link.player %}href="#" onClick="$(this).parent().find('div.embed_player').toggle(); return false"{% else %} href="{{link.get_absolute_url}}"{% endif %} class="thumbnail">
        {% thumbnail link.thumbnail_url "160x100" crop="center" as im %}
        <img src="{{ im.url }}">
        {% endthumbnail %}
	</a>
	{% endif %}
    <div class="header">
        <div class="tags">
            {% ifnotequal link.rating r %}
            <span class="tag rating"><a href="#">{{link.rating}}</a></span>
            {% endifnotequal %}
            {% ifnotequal link.rating r %}
            <span class="tag lang"><a href="#">{{link.language}}</a></span>
            {% endifnotequal %}
            {% for tag in link.tags.all %}
            <span class="tag"><a href="/tags/{{tag.slug}}/">{{tag}}</a></span>
            {% endfor %}
        </div>

	    <h3 class="title" href="{{link.url}}"><a href="{{link.get_absolute_url}}">{{link.title}}</a> <span class="domain">{{link.get_domain}}</span></h3>
    </div>
	<p class="description">{{link.description}}</p>
	<p class="info">
        {% blocktrans with poster=link.posted_by posted_at=link.posted_at|timesince %}Posted by {{poster}}, {{posted_at}} ago.{% endblocktrans %}
        {% blocktrans with shown=Link.shown %}Displayed {{shown}} times.{% endblocktrans %}
	</p>
    <ul class="flat-list actions">
        <li><a href="#">Comments</a></li>
        <li>
            <a href="http://www.addthis.com/bookmark.php"
               addthis:url="{{link.get_full_url}}"
               addthis:title="{{link.title}}"
               {% if link.description %}addthis:description="{{link.description}}"{% endif %}
               style="text-decoration:none;" class="addthis_button">{% trans "Share" %}</a>
        </li>
        {% ifequal link.posted_by user %}
        <li><a href="{{link.get_editing_url}}">{% trans "Edit" %}</a></li>
        <li><a href="#" onClick = 'deleteLink("{% trans "Are you sure to delete this link?" %}", {{link.id}}), this'>{% trans "Delete" %}</a></li>
        {% else %}
        <li><a href="#">{% trans "Complain" %}</a></li>
        {% endifequal %}

        {% if link.player %}
        <div class="embed_player">{{link.player|safe}}{% endif %}</div>
    </ul>
</div>
