{% extends "base.html" %}{% load i18n %}
{% block extra_head %}
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script id="submitReportTemplate" type="text/x-jquery-tmpl">x
    <div class="layerBox">
        <div class="darkWing"></div>
        <div class="section">
            <h3 class="header">Report This Link <i class="close" onClick="$(this).parent().parent().parent().remove()"></i></h3>
            <form>
                <div class="fieldWrapper">
                    <label for="id_reason"><ul class="errorlist" style="display:none"><li>This field is required.</li></ul>Reason: <span class="desc">why are you reporting this?</span></label>
                    <select name="reason" id="id_reason">
                        <option value="" selected="selected">---------</option>
                        <option value="hatespeech">Contains hate Speech</option>
                        <option value="wrong_channel">Channel is not appropriate</option>
                        <option value="wrong_rating">Rating is not appropriate</option>
                        <option value="wrong_language">Language is not appropriate</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="fieldWrapper">
                    <label for="id_note">Note: <span class="desc">do you have note for admins?</span></label>
                    <input id="id_note" type="text" name="note" maxlength="255" />
                </div>
                <input type="hidden" name="reporter" value="${user_id}">
                <input type="hidden" name="link" value="${link_id}">
                <div class="fieldWrapper">
                    <input type="button" id="submitReportButton" class="small right" value="submit" />
                </div>
            </form>
        </div>
    </div>
</script>
{% endblock %}
{% block content %}
<div class="two-column">
    <div class="panel">
        {% if top_channels %}
        <div class="channels section">
            <h3 class="header">{% trans "Top Channels" %}</h3>
            <ul class="channels">
                {% for channel in top_channels %}
                    <li><a href="{{channel.get_absolute_url}}">{{channel}} ({{channel.link_count}})</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="content section">
        <h2 class="header">{{listing}}</h2>
        <div class="body">
            {% for link in links %}
                {% include "links/link_as_list_item.html" %}
            {% empty %}
                <p class="warning">
                    {% trans "No links found." %}
                </p>
            {% endfor %}
                <div class="pagination">
                    <span class="page_links">
                        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">previous</a>{% endif %}
                        {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">next</a>{% endif %}
                    </span>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/links.js"></script>
<script type="text/javascript">
    var addthis_config =
        { services_compact: 'email, gmail, facebook, twitter',
          services_exclude: 'formspring',
          ui_click: true }

    var addthis_localize =
        { share_caption: "{% trans 'Share' %}",
        email: "{% trans 'E-posta' %}" }
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ec6bf7a4c4877e7"></script>
<script type="text/javascript">
    $("a.showReportForm").click(function(){
        {% if user.is_authenticated %}
            $.tmpl($("#submitReportTemplate"), {
                user_id: {{user.id}},
                link_id: $(this).parent().parent().parent().attr("id"),
            }).appendTo("div#content");
        {% else %}
            alert("login");
        {% endif %}
    });
    $('#submitReportButton').live('click', function() {
        var form = $(this).parent().parent();
        if (form.find("#id_reason option:selected").val()) {
     	    $.ajax({
                type:'POST',
         	        url: "/api/reports/post/",
         	        data: form.serialize(),
        	        success : function(data, textStatus, jqXHR) {
                        alert("oldu lan");

        	        }
                }
        );

            console.log(form.serialize());
        } else {
            form.find("label[for=id_reason] > ul.errorlist").show();
        }
    });
</script>
{% endblock content %}
