{% extends "base.html" %}{% load i18n %}

{% block extra_nav %}
    {% if active_channel %}
        <li class="active"><a href="#">{{active_channel}} {% trans "Channel" %}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="two-sections">
    <div class="panel">
        {% if top_channels %}
        <ul class="channels section">
            <h3>{% trans "Top Channels" %}</h3>
            {% for channel in top_channels %}
                <li><a href="{{channel.get_absolute_url}}">{{channel}} ({{channel.link_count}})</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="content section">
        <h2 class="header">Blaa...</h2>
        <div class="body">
            {% for link in links %}
                {% include "links/link_as_list_item.html" %}
            {% empty %}
                <div class="oops">
                    {% trans "No links shared today. Share it now!" %}
                </div>
            {% endfor %}
                <div class="pagination">
                    <span class="page_links">
                        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">previous</a>{% endif %}
                        <span class="page_current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">next</a>{% endif %}
                    </span>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/links.js"></script>
<script type="text/javascript">
    var addthis_config =
        { services_compact: 'email, gmail, facebook, twitter',
          services_exclude: 'formspring',
          ui_click: true }

    var addthis_localize =
        { share_caption: "{% trans 'Share' %}",
        email: "{% trans 'E-posta' %}" }
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ec6bf7a4c4877e7"></script>
{% endblock content %}
