{% extends "base.html" %}{% load i18n %}
{% block content %}
<div class="two-column">
    <div class="panel">
        {% if top_channels %}
        <div class="channels section">
            <h3 class="header">{% trans "Top Channels" %}</h3>
            <ul class="channels">
                {% for channel in top_channels %}
                    <li><a href="{{channel.get_absolute_url}}">{{channel}} ({{channel.link_count}})</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="content section">
        <h2 class="header">{{listing}}</h2>
        <div class="body">
            {% for link in links %}
                {% include "links/link_as_list_item.html" %}
            {% empty %}
                <p class="warning">
                    {% trans "No links found." %}
                </p>
            {% endfor %}
                <div class="pagination">
                    <span class="page_links">
                        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">previous</a>{% endif %}
                        {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">next</a>{% endif %}
                    </span>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/links.js"></script>
<script type="text/javascript">
    var addthis_config =
        { services_compact: 'email, gmail, facebook, twitter',
          services_exclude: 'formspring',
          ui_click: true }

    var addthis_localize =
        { share_caption: "{% trans 'Share' %}",
        email: "{% trans 'E-posta' %}" }
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ec6bf7a4c4877e7"></script>
{% endblock content %}
