{% load i18n votes thumbnail %}
<div class="link" id="{{link.id}}">
    <div class="vote_buttons">
        <a href="#" class="upVote{% if link|is_up_voted_by:user %} voted{%endif%}" x:value="+1"></a>
        <div class="score">{% if link.vote_score %}{{link.vote_score}}{% else %}0{% endif %}</div>
        <a href="#" class="downVote{% if link|is_down_voted_by:user %} voted{%endif%}" x:value="-1"></a>
    </div>
	{% if link.thumbnail_url %}
	<a {%if link.player %}href="#" onClick="$(this).parent().find('div.embed_player').toggle(); return false"{% else %}
       href="{{link.get_absolute_url}}"{% endif %} class="thumbnail">
        {% thumbnail link.thumbnail_url "160x100" crop="center" as im %}<img src="{{ im.url }}">{% endthumbnail %}
        {% if link.player %}<i></i>{% endif %}
	</a>
	{% endif %}
    <div class="header">
        <div class="tags">
            {% for tag in link.tags.all %}
            <span class="tag"><a href="/links/list/?tagged={{tag.slug}}">{{tag}}</a></span>
            {% endfor %}
        </div>
	    <h3 class="title"><a href="{{link.url}}" target="_blank">{{link.title}}</a> <span class="domain">from {{link.get_domain}}, by <a href="{{link.posted_by.get_absolute_url}}">{{link.posted_by}}</a></span></h3>
    </div>
	<p class="description">{{link.description}}</p>
	<p class="info">

	</p>
    <ul class="flat-list actions">
        <li><a href="#">Comments ({{link.comment_set.count}})</a></li>
        <li>
            <a href="http://www.addthis.com/bookmark.php" addthis:url="{{link.get_full_url}}" addthis:title="{{link.title}}" {% if link.description %}addthis:description="{{link.description}}"{% endif %} style="text-decoration:none;" class="addthis_button">{% trans "Share" %}</a>
        </li>
        {% ifequal link.posted_by user %}
            <li><a href="{{link.get_editing_url}}">{% trans "Edit" %}</a></li>
            <li><a href="#" onClick = 'deleteLink("{% trans "Are you sure to delete this link?" %}", {{link.id}}), this'>{% trans "Delete" %}</a></li>
        {% else %}
            <li><a href="#">{% trans "Complain" %}</a></li>
        {% endifequal %}
        <li><a href="#" class="showReportForm">{% trans "Report" %}</a></li>
        <li><a href="#" title="Posted at {{link.posted_at|timesince}} ago. Displayed {{link.shown}} times.">[?]</a></li>
        {% if link.player %}<div class="embed_player">{{link.player|safe}}</div>{% endif %}
    </ul>
</div>
