{% extends "base.html" %}{% load i18n %}{% block extra_head %}{{form.media}}{% endblock %}
{% block content %}
<div class="one-column">
    <div class="content section narrow">
        <h2 class="header">Post a Link</h2>
        <div class="body">
		    <form action="#" method="post">
                <div class="fieldWrapper">
                    <label for="id_url">{{ form.url.errors }}{% trans "URL" %}<span class="desc">{{form.url.help_text}}</label>
                    {{ form.url }}
                </div>
                <div class="fieldWrapper">
                    <label fory="id_rating">{{ form.rating.errors }}{% trans "Rating" %}<span class="desc">{{form.rating.help_text}}</label>
                    {{ form.rating }}
                </div>

                <div class="fieldWrapper">
                    <label fory="id_rating">{{ form.language.errors }}{% trans "Language" %}<span class="desc">{{form.language.help_text}}</label>
                    {{ form.language }}
                </div>
                <div class="fieldWrapper">
                    <label for="id_title">{{ form.title.errors }}{% trans "Title" %}<span class="desc">{{form.title.help_text}}</label>
                    {{ form.title }}
                </div>

            <div class="fieldWrapper">
                <label for="id_description">{{ form.description.errors }}{% trans "Description" %}<span class="desc">{{form.description.help_text}}</label>
                {{ form.description }}
            </div>

            <div class="fieldWrapper">
                <label for="id_tags">{{ form.channel.errors }}{% trans "Channel" %}<span class="desc">{{form.channel.help_text}}</span></label>
                {{ form.channel }}
            </div>

			{% csrf_token %}
            {{form.thumbnail_url}}
            {{form.player}}

            <input type="submit" value="{% trans 'Submit' %}" />
		    </form>
            <script type="application/javascript">
                $("#id_channel").tokenInput("/api/channels/list/", {
                tokenLimit: 1
                });
            </script>
        </div>
    </div>
</div>
{% endblock content %}
