{% load static i18n %}{% get_static_prefix as STATIC_PREFIX %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>{% block title %}SitePiyango{% endblock title %}</title>
		<meta name="description" content="{% block description %}Site Piyango, site trafiği kazanmak için oynanan basit bir oyundur. Websitenizi kayıt ederek, çekilişe katılabilir ve sürpriz ziyaretçiler kazanabilirsiniz.{% endblock %}" />


        <link rel="stylesheet/less" type="text/css" href="{{STATIC_PREFIX}}css/style.less" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/libs/boxy.css" />
        <link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/jquery.boxy.js"></script>
		<script type="text/javascript" src="{{STATIC_PREFIX}}js/libs/less-1.1.3.min.js"></script>
        <meta property="og:image" content="{% block og_image %}{{STATIC_PREFIX}}logo.png{% endblock og_image %}" />
		<meta name="robots" CONTENT="index, follow" />
		<meta name="google-site-verification" content="nWyMcBnjRMa4oApMUNBZwWFo080k7E7RdLh_sb2B9GQ" />
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />

		<script type="text/javascript">{% if user.is_authenticated %}window.user_is_authenticated = true;{% else %}window.user_is_authenticated = false;{% endif %}</script>
		{% block extra_head %}{% endblock extra_head %}
	</head>
	<body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div id="loginDialog" style="display:none;">
            <form action="/accounts/login/" method="post">
                {% csrf_token %}
                <div class="fieldWrapper">
                    <label for="id_username">Username</label>
                    <input type="text" maxlength="30" name="username" id="id_username">
                </div>
                <div class="fieldWrapper">
                    <label for="id_password">Password <span class="desc">Hatırlamıyorsanız lütfen <a href="/accounts/password/reset/">buraya tıkla</a>yın.</span></label>
                    <input type="password" id="id_password" name="password">
                </div>
                <p>
                    <a href="/accounts/register/">Need an account</a>?
                </p>
                <input type="submit" value="login" />
                <input type="hidden" value="" name="next" />
            </form>
        </div>
		<div id="head">
            <div class="wrapper">
			    <a id="logo" href="/">LinkFloyd</a>
			    <div class="right">
				    <ul class="flat-list navigation">
                        {% block extra_nav %}
                        {% endblock extra_nav %}
					    <li>
                            <a href="#" {%if active_nav_item == "links"%}class="active"{%endif%}>
                                {% trans "Links" %}
                            </a>
                            <ul class="sub">
                                <li>
						            <a href="/">{% trans "Highest" %}</a>
                                </li>
                                <li>
						            <a href="/links/latest/">{% trans "Controversial" %}</a>
                                </li>
                                <li>
						            <a href="/links/latest/">{% trans "Latest" %}</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li>
                                	<a href="/links/from/{{user.username}}/">{% blocktrans with user=user%}From {{user}}{% endblocktrans %}</a>
    					        </li>
                                {% endif %}
                            </ul>
					    </li>

                        {% if user.is_authenticated %}
                        <li>
                            <a href="#">{{user}}</a>
                            <ul class="sub">
                                <li><a href="{% url update_preferences %}">{% trans "Preferences" %}</a></li>
                                <li><a href="{% url auth_logout %}">{% trans "Log out" %}</a></li>
                            </ul>
    					</li>
                        {% endif %}

					    <li{% if active_nav_item == "submit" %} class="active"{% endif %}>
						    <a href="/links/submit/">{% trans "Submit a Link" %}</a>
					    </li>
                        {% if not user.is_authenticated %}
	    				<li>
		    				<a href="{% url auth_login %}">{% trans "Login" %}</a>
			    		</li>
                        {% endif %}
				    </ul>
			    </div>
            </div>
		</div>
		<div id="content">
            <div class="wrapper">
			    {%block content%}{%endblock content%}
            </div>
		</div>
        <div id="footer"></div>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-6315603-10']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>

