{% extends "base.html" %}
{% block title %}{% if account %}Activation complete{% else %}Activation problem{% endif %}{% endblock %}
{% block content %}

{% block extra_nav %}
<div class="left">
    <ul class="navigation">
        <li class="active">Activation Complete</li>
    </ul>
</div>
{% endblock %}

{% if account %}
    <p class="success">Thanks {{ account }}, activation complete!  You may now <a href='{% url auth_login %}'>login</a> using the username and password you set at registration.</p>
{% else %}
    <p class="error">Oops &ndash; it seems that your activation key is invalid.  Please check the url again.</p>
{% endif %}
{% endblock %}

