{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
<div class="one-column">
    <div class="section narrow">
        <h2 class="header">{% trans "Log in" %}</h2>
        <div class="content">
            {% if form.errors %}
            <p class="error">{% trans "Your username and password didn't match. Please try again." %}</p>
            {% endif %}
            <form method="post" action="{% url django.contrib.auth.views.login %}">
                {% csrf_token %}
                <div class="fieldWrapper">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="fieldWrapper">
                    <label for="id_password">{%trans "Password"%}</label>
                    {{ form.password }}
                </div>
                <p><a href="{% url registration_register %}">Do you need an account</a>?</p>
                <p><a href="/accounts/password/reset/">Don't you remember your password</a>?</p>
                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
