{% extends "base.html" %}{% load i18n %}
{% block title %}Register for an account{% endblock %}

{% block extra_nav %}
<div class="left">
    <ul class="navigation">
        <li class="active">Login</li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="one-column">
    <div class="section narrow">
        <h2 class="header">{% trans "Register" %}</h2>
        <form action="#" method="post">
            {% csrf_token %}
            <div class="fieldWrapper">
                <label for="id_username">{% trans "Username" %} <span>{{form.username.help_text}}</span></label>
                {{ form.username.errors }}
                {{ form.username }}
            </div>
            <div class="fieldWrapper">
                <label for="id_email">{% trans "Email" %} <span>{{form.email.help_text}}</span></label>
                {{ form.email }}
            </div>
            <div class="fieldWrapper">
                <label for="id_password1">{% trans "Password" %} <span>{{form.password1.help_text}}</span></label>
                {{ form.password1 }}
            </div>
            <div class="fieldWrapper">
                <label for="id_password2">{% trans "Password Again" %} <span>{{form.password2.help_text}}</span></label>
                {{ form.password2 }}
            </div>
            <input type="submit" value="{% trans 'Submit' %}"/>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function() {
         $('input').attr('autocomplete', 'off');
    });
</script>
{% endblock %}
