body {
	background: #fff;
	padding: 0;
	margin: 0;
	font-family: sans;
	font-size: 80%;
}
a {
	text-decoration: none;
	color: #3b5998;
}
form {
    width: 500px;
	display:block;
    margin: 20px auto;
	padding: 10px;
    border: 5px solid #ccc;
    background: #e5e5e5;
}
form div.fieldWrapper label {
	display: block;
	font-size: 13px;
    font-weight: bold;
    margin: 5px 0 3px 0;
}
form div.fieldWrapper:first-child label {
	margin-top: 0;
}

form div.fieldWrapper label > span.desc {
    font-size: 10px;
    font-weight: normal;
    color: #888;
    margin: 0 0 0 5px;
}
input, textarea, select {
    width: 480px;
    padding: 4px;
    margin: 0 0 5px 0;
    border: 1px solid #666;
}
textarea {
    height: 80px;
}
select {
    width: 494px;
}
form > input[type='submit'] {
	font-size:16px;
	padding:10px 0 10px 0;
	margin-top:10px;
    width: 490px;
}
div.link {
    width: 853px;
	overflow: auto;
	margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCDCEF;
}
div.link > div.vote_buttons {
    border-radius: 3px;
    margin-left: 3px;
    float: left;
}
a.upVote, a.downVote, div.score {
    height: 20px;
    display: block;
}
a.upVote {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #888;
    margin: 0;
}
a.downVote {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #888;
    margin: 0;
}
a.upVote.voted {
    border-bottom-color: #222;
}
a.downVote.voted {
    border-top-color: #222;
}
div.score {
    text-align: center;
    vertical-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #888;
    border-radius: 2px;
    margin: 3px 0;
    padding: 2px 0 0 0;
}
div.link > a.thumbnail {
    position: relative;
    float: right;
    margin: 0 0 0 10px;
    padding: 0;
    margin: 0;
}
div.link > a.thumbnail > img {
    width: 160x;
    height: 100px;
}
div.link > div.header {
    float: both;
    margin: 0 0 0 50px;
}
div.link > div.header > div.tags {
    float: right;
    margin: 1px 0 0 0;
}
div.link > div.header > h3.title {
    font-size:13px;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 3px 0 0 0;
}
div.link > div.header > h3.title > span {
    font-size: 10px;
    color: #999;
    font-weight: normal;
}
div.link > p.description, div.link > p.info {
    margin: 5px 0 0 50px;
}
div.link > p.description {
    font-size: 100%;
    color: #666;
}
div.link > p.info {
    font-size: 10px;
    color: #aaa;
}
div.link ul.actions {
    margin: 10px 0 0 50px;
}
div.link ul.actions li {
    font-size: 10px;
    font-weight: bold;
}
div.link ul.actions li a {
    color: #82A19F;
}

div.link > h3.title > span.domain {
    font-size:10px;
    font-weight: normal;
    color: #888;
}

div.embed_player {
    display: block;
    clear: both;
    display: none;
}
div.embed_player > iframe {
    width: 803px;
    height: 230px;
}
.tag {
    border: 1px solid #cBc9d8;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    float:left;
    padding: 2px;
    text-decoration:none;
    background: #eBe9f8;
    color: #888;
    margin-right: 5px;
    margin-bottom:5px;
    font-family: helvetica;
    font-size:13px;
}
p.tag {
    float: both;
    display: block;
}
span.tag a {
    font-weight: bold;
    color: #3B5998;
    text-decoration:none;
    font-size: 11px;
}
ul.flat-list {
    margin:0;
    padding:0;
}
ul.flat-list li {
    margin:0 10px 0 0;
    padding:0;
    list-style-type: none;
    float: left;
}
