div#head {
	height: 30px;
	margin: 0;
	padding: 5px 10px 0 5px;
	background: #195695;
	border-bottom: 5px solid #D3D7F9;
}
div.wrapper {
	width: 970px;
	margin: 0 auto;
	padding: 5px;
}
a#logo {
	display: block;
    position: absolute;
	float: left;
	margin: -3px 10px 0 0;
    z-index: +10;
}
ul#info-panel {
	display: inline-block;
	float: left;
	height: 20px;
	width: 400px;
	float: left;
	margin: 0;
	padding: 0;
}
div#head div.left {
    margin: 0 0 0 15px;
}
ul.navigation {
	margin: 5px 0 0 0;
	padding: 0;
}
ul.navigation > li {
	margin: 0 0 0 30px;
	padding: 5px;
	float: left;
	list-style-type: none;
	font-size: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ul.navigation > li.active {
    background: #D3D7F9;
}
ul.navigation > li.active > a {
    color: #195695;
}
ul.navigation > li > a {
    color: #fff;
}
div.section {
	padding: 5px;
	margin: 10px 0 0 0;
}
div.section.narrow {
	width: 700px;
}
div.section.panel {
	width: 230px;
}
.left {
	float: left;
}
.right {
	float: right;
}
div#content {
	margin-top: 0;
    z-index: 0;
}
iframe#linkView {
	display: block;
    float: both;
    position: absolute;
	width: 100%;
	height: 90%;
	margin: 0;
    padding: 0;
    border: none;
}