@black: #000000;
@white: #ffffff;
@pencil-grey: #aaaaaa;
@threadless: #1b325f;
@self-conscience: #fce6bf;
@merry-widow: #8989ff;
body {
    padding: 0;
    margin: 0;
    background: lighten(@pencil-grey, 20%);
    font-size: 13px;
    font-family: sans-serif;
}
.left {
    float: left;
}
.right {
    float: right;
}
h3 {
    margin: 0 5px;
    padding: 0;
}
a {
    text-decoration: none;
    color: @threadless;
    font-weight: normal;
}
a#logo {
    font-size: 48px;
    font-family: sans-serif;
    color: lighten(@pencil-grey, 20%);
}
div.wrapper {
    width: 1060px;
    margin: 0 auto;
}
ul.flat-list {
    margin: 0;
    padding: 0;
    > li {
        list-style-type: none;
        float: left;
	    margin: 0 0 0 18px;
	    padding: 0;
    }
    > li:first-child {
        margin-left: 0;
    }
}
p.success, p.error, p.warning {
    font-size: 16px;
    padding: 20px;
    text-align: center;
}
p.success {
    background: green;
    padding: 20px;
    color: white;
}
p.warning {
    background: yellow;
    color: black;
}
p.error {
    background: red;
    color: white;
}
div#head {
    background: lighten(@black, 12%);
    border-bottom: 1px solid @black;
    overflow: visible;
    height: 50px;
    .left {
        margin: 0 0 0 200px;
    }
    ul.navigation {
        font-size: 12px;
        > li {
            border-right: 1px lighten(@black, 5%)  solid;
            border-left: 1px lighten(@black, 19%) solid;
        }
        li {
            padding: 0;
            margin: 0;
            position: relative;
            overflow: hidden;
            &:hover {
                overflow: visible;
            }
            a {
                padding: 20px;
                height: 10px;
                font-size: 12px;
                font-weight: bold;
                color: lighten(@black, 60%);
                display: block;
                &.active {
                    background: lighten(@black, 6%);
                }
                &:hover {
                    color: white;
                }
            }
        }
        ul.sub {
            background: lighten(@black, 6%);
            border-top: 1px lighten(@black, 20%) solid;
            border-left: 1px lighten(@black, 20%) solid;
            border-right: 1px lighten(@black, 6%) solid;
            border-bottom: 1px lighten(@black, 6%) solid;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            position: absolute;
            width: 100px;
            top: 50px;
            left: 0;
            margin: 0;
            padding: 0;
            z-index: 10;
            list-style-type: none;
             > li > a {
                padding: 10px;
            }
        }
    }
}
.section {
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 5px;
    border: 1px solid lighten(@pencil-grey, 10%);
    > .header {
        margin: 0 0 10px 0;
        padding: 10px 8px;
        color: lighten(@pencil-grey, 20%);
        background: lighten(@black, 12%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font: 23px 'Squada One', cursive;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 14px;
    }
    h2 > i, h3 > i {
        background: url(https://github.com/defunkt/facebox/raw/master/src/closelabel.png);
        width: 8px;
        height: 8px;
        float: right;
        margin: 4px 0 0 0;
        cursor: pointer;
    }
}
div.one-column {
    div.section.narrow {
        width: 600px;
    }
}
div.two-column {
    div.panel {
        float: right;
        h2, h3 {
            margin: 0;
        }
        ul.channels {
            margin: 0;
            padding: 0;
            li {
                display: block;
                list-style-type: none;
                margin: 0;
                padding: 10px;
                a {
                    font-size: 12px;
                }
                &:hover {
                    background: @threadless;
                    a {
                        color: white;
                    }
                }
                border-bottom: 1px dashed black;
                &:last-child {
                    border-bottom: none;
                }
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
    div.content {
        width: 800px;
    }
}
div#content {
	margin: 20px 0;
    overflow: auto;
    min-height: 10em;
}
a#logo {
	display: block;
    position: absolute;
	float: left;
	margin: -3px 0 0 0;
}
div.link {
	overflow: auto;
    float:both;
    padding: 5px;
    margin: 0 0 5px 0;
    border-bottom: 1px dashed lighten(@pencil-grey, 10%);
    a.thumbnail {
        position: relative;
        float: right;
        margin: 0 0 0 10px;
        padding: 0;
        img {
            width: 160x;
            height: 100px;
        }
        i {
            background: top left url(https://s-static.ak.facebook.com/rsrc.php/v1/y6/r/gY6pCnDw29i.png);
            width: 35px;
            height: 26px;
            position: absolute;
            bottom: 4px;
            left: 2px;
        }
    }
    div.header {
        float: both;
        margin: 0 0 0 50px;
        h3.title {
            font-size:15px;
            line-height: 19px;
            font-weight: bold;
            margin: 0 0 0 0;
            padding: 0;
            a {
                font-effect: outline;
            }
            span.domain {
                font-size: 11px;
                font-weight: normal;
                color: lighten(@merry-widow, 5%);
                a {
                    color: lighten(@threadless, 40%);
                    text-decoration: underline;
                }
            }
        }
    }
    p.description, ul.actions {
        margin: 8px 10px 0 50px;
        font-size: 13px;
    }
    ul.actions {
        margin-top: 12px;
        a {
            color: lighten(@threadless, 40%);
            &:hover {
                color: @threadless;
            }
        }
    }
    p {
         margin-top:15px;
         color: darken(@pencil-grey, 30%);
    }
    div.embed_player {
        display: block;
        clear: both;
    }
    div.embed_player > * {
        display: block;
        height: 260px;
        width: 100%;
    }

    div.embed_player > img.embed {
        height: auto;
    }

    div.vote_buttons {
        border-radius: 3px;
        float: left;

        a.upVote, a.downVote, div.score {
            height: 20px;
            display: block;
        }
        a.upVote {
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid #888;
            margin: 0;
        }
        a.downVote {
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #888;
            margin: 0;
        }
        a.upVote.voted {
            border-bottom-color: #222;
        }
        a.downVote.voted {
            border-top-color: #222;
        }
        div.score {
            text-align: center;
            vertical-align: center;
            font-size: 13px;
            font-weight: bold;
            color: #888;
            border-radius: 2px;
            margin: 3px 0;
            padding: 2px 0 0 0;
        }
    }
}
form {
	display:block;
    overflow: auto;
    margin: 10px;
	padding: 0;
    div.fieldWrapper{
        margin: 0 0 10px 0;
        padding: 0;
        label {
	        display: block;
	        font-size: 16px;
            font-weight: bold;
            margin: 0 0 5px 0;
            padding: 0;
            &:first-child {
	            margin-top: 0;
            }
            span.desc {
                font-size: 13px;
                font-weight: normal;
                margin: 0 0 0 6px;
            }
        }
        ul.errorlist {
            margin: 0;
            padding: 0;
            display: block;
            li {
                list-style-type: none;
                margin: 6px 0 0 0;
                padding: 0;
                color: red;
                float:right;
                font-weight: normal;
                font-size: 10px;
            }
        }
    }
    input, textarea, select, textarea, ul.token-input-list {
        width: 98%;
        padding: 5px;
        border: none;
        margin: 0;
        background: lighten(@pencil-grey, 25%);
        border-radius: 5px;
        border: 1px solid darken(@pencil-grey, 0%);
        font-size: 16px;
    }
    input[type='submit'], input[type='button'] {
	    font-size:16px;
	    padding: 5px 0;
	    margin-top:10px;
        width: 100px;
        float: right;
        background: lighten(@black, 20%);
        color: @white;
    }
    input[type='submit'].small, input[type='button'].small {
        padding: 5px 0 5px 0;
        width: 100px;
    }

}

/* -------------------- Token Style --------------------*/

ul.token-input-list {
    cursor: text;
    clear: left;
    li {
        list-style-type: none;
        input {
            width: 350px;
            -webkit-appearance: caret;
        }
    }
}
li.token-input-token {
    overflow: hidden;
    height: auto !important;
    margin: 0;
    padding: 3px 5px;
    background-color: lighten(@pencil-grey, 10%);
    cursor: default;
    p {
        float: left;
        padding: 0;
        margin: 0;
    }
    span {
        float: right;
        color: #777;
        cursor: pointer;
    }
}

li.token-input-selected-token {
    background-color: @merry-widow;
    color: @white;
}

li.token-input-selected-token span {
    color: @white;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #d0efa0;
}
/* ------------------------------------------------------------ */
.layerBox > .section {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 0;
    input[type='submit'], input[type='button'] {
        clear: none;
    }
}
div.darkWing {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: black;
    opacity: 0.6;
}